*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    color: white;
    padding: 1em;
    text-align: center;
}

header img{
    width: 300px;
}
h1{
    font-size: 35px;
    text-align: center;
    color: rgb(187, 83, 151);
    letter-spacing: 20px;
    font-weight:lighter ;
}

img.pop-century{
    text-align: right;
}

h2{
    font-size: 20px;
    text-align: left;
    letter-spacing: 10px;
    color: rgb(187, 83, 151);
    font-weight: lighter;
}

.contenedor{ 
    width: 100%;
}

.item{
    float:inline-end;  
    margin-left: 10px;
    margin-bottom: 5px;
}

.item1{
    float:inline-start;  
    margin-right: 10px;
    margin-bottom: 5px;
}

main img{
    width: 450px;
    height: auto;
}

p{
    color: rgb(92, 125, 181);
    font-size: 15px;
}
footer img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}